/* Hero Section */
.hero {
    background: white;
    padding: 60px 40px;
    text-align: left;
}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
    color: #222;
}
.recursos-wrapper {
    max-width: 900px;
    margin: 120px auto 80px;
    padding: 0 20px;
}

.recursos-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1b1b1b;
}

.recursos-description {
    font-size: 1.15rem;
    line-height: 1.6;
    font-weight: 300;
    max-width: 750px;
}

/* Carousel */
.carousel-section {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-slide img {
    width: 100%;
    display: none;
    border-radius: 8px;
    transition: opacity 0.4s ease;
}

.carousel-slide img.active {
    display: block;
}

/* Buttons */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    color: #333;
    transition: 0.2s;
}

.prev { left: 0; }
.next { right: 0; }

.carousel-btn:hover {
    color: #1b73d3;
}

/* Thumbnails */
.thumbnail-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.thumb {
    width: 120px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.5;
    transition: .3s;
    cursor: pointer;
}

.thumb:hover {
    opacity: 1;
}

.active-thumb {
    opacity: 1;
    border: 3px solid #1b73d3;
}

/* Responsive */
@media (max-width: 768px) {
    .carousel-container {
        width: 100%;
    }

    .thumb {
        width: 90px;
        height: 60px;
    }
}
